image:
  repository: nvcr.io/nvidia/k8s-device-plugin
  tag: v0.18.0
  pullPolicy: IfNotPresent

nodeSelector:
  kubernetes.io/arch: amd64
  gpu: "true"

resources:
  limits:
    memory: 128Mi
    cpu: 100m
  requests:
    memory: 64Mi
    cpu: 50m

securityContext:
  privileged: true

tolerations:
  - key: gpu
    operator: Equal
    value: "true"
    effect: NoExecute

env:
  - name: DEVICE_LIST_STRATEGY
    value: "envvar"
  - name: DEVICE_ID_STRATEGY
    value: "uuid"
  - name: NVIDIA_VISIBLE_DEVICES
    value: "all"
  - name: NVIDIA_DRIVER_CAPABILITIES
    value: "compute,utility"

volumeMounts:
  - name: device-plugin
    mountPath: /var/lib/kubelet/device-plugins
  - name: dev
    mountPath: /dev

volumes:
  - name: device-plugin
    hostPath:
      path: /var/lib/kubelet/device-plugins
  - name: dev
    hostPath:
      path: /dev