---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: {{ include "server.llama.cpp.fullname" . }}
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "server.llama.cpp.labels" . | nindent 4 }}
  annotations:
    helm.sh/resource-policy: "keep"
    argocd.argoproj.io/sync-wave: "0"
spec:
  accessModes:
    - {{ .Values.persistence.accessMode }}
  resources:
    requests:
      storage: {{ .Values.model.size | quote }}
  {{- if .Values.persistence.storageClass }}
  storageClassName: {{ .Values.persistence.storageClass | quote }}
  {{- end }}
