{{- if .Values.rbac.create -}}
---
apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  name: {{ include "server.llama.cpp.fullname" . }}
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "server.llama.cpp.labels" . | nindent 4 }}
rules:
  - apiGroups: [""]
    resources: ["services"]
    verbs: ["get", "list", "patch", "update"]
  - apiGroups: [""]
    resources: ["secrets"]
    verbs: ["get", "list"]
---
apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  name: {{ include "server.llama.cpp.fullname" . }}
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "server.llama.cpp.labels" . | nindent 4 }}
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: Role
  name: {{ include "server.llama.cpp.fullname" . }}
subjects:
  - kind: ServiceAccount
    name: {{ include "server.llama.cpp.serviceAccountName" . }}
    namespace: {{ .Release.Namespace }}
{{- end }}
