---
apiVersion: v1
kind: Service
metadata:
  name: {{ include "server.llama.cpp.fullname" . }}
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "server.llama.cpp.labels" . | nindent 4 }}
  annotations:
    argocd.argoproj.io/sync-wave: "2"
spec:
  type: {{ .Values.service.type }}
  {{- if and (eq .Values.service.type "LoadBalancer") .Values.service.loadBalancerIP }}
  loadBalancerIP: {{ .Values.service.loadBalancerIP }}
  {{- end }}
  ports:
    - port: {{ .Values.service.port }}
      targetPort: http
      protocol: TCP
      name: http
  selector:
    {{- include "server.llama.cpp.selectorLabels" . | nindent 4 }}
